
<input type="hidden" value="<%= params[:id] %>" name="Id"/>
<div class="input">
  <%= f.label 'Survey' %>
  <%= f.text_field :Survey_Name__c, :disabled => true %>
</div>	
<div class="input">
  <%= f.label 'Survey Taker' %>
  <%= select("invitation__c", "User__c", @users.collect {|p| [ p.Name, p.Id ] }, {:include_blank => 'None', :selected => f.object.User__c}) %>
  <!-- %= collection_select('invitation__c', 'User__c', @users, :Id, :Name, :prompt => true, :selected => f.object.User__c )% -->
</div>  

<!-- div class="input">
  < %= f.label 'Owner' %>
  < %= select("invitation__c", "OwnerId", @users.collect {|p| [ p.Name, p.Id ] }, {:include_blank => 'None', :selected => f.object.OwnerId}) %>
</div -->  

<div class="input">
	<%= f.label 'Status' %>
	<%= f.text_field :Status__c, :disabled => true %>
</div>
<div class="input">
  <%= f.label 'Start Date' %>
  <%= f.text_field :Start_Date__c, :value => (f.object.Start_Date__c.strftime('%m/%d/%Y') unless f.object.Start_Date__c.nil?), :disabled => true %>
</div>
<div class="input">
  <%= f.label 'End Date' %>
  <%= f.text_field :End_Date__c, :value => (f.object.End_Date__c.strftime('%m/%d/%Y') unless f.object.End_Date__c.nil?), :disabled => true  %>
</div>


