

<div class="input">
  <%= f.label 'Survey' %>
  <%= select("invitation__c", "Survey__c", @surveys.collect {|p| [ p.Name, p.Id ] }, {:include_blank => 'None'}) %>
</div>	
<div class="input">
  <%= f.label 'User' %>
  <%= select("invitation__c", "User__c", @users.collect {|p| [ p.Name, p.Id ] }, {:include_blank => 'None'}) %>
</div>  
<div class="input">
  <%= f.label 'Surveyee' %>
  <%= select("invitation__c", "Surveyee__c", @surveyees.collect {|p| [ p.Name, p.Id ] }, {:include_blank => false}, :multiple => true, :size => 10 ) %>
</div>
<div class="input">
	<%= f.label 'Status' %>
	<%= f.select :Status__c, [['Completed','Completed'],['In Progress','In Progress'],['New','New'], ['Cancelled','Cancelled']], {:include_blank => 'None'} %>
</div>
<div class="input">
  <%= f.label 'Start Date' %>
  <%= f.text_field :Start_Date__c, :class => "datepicker" %>
</div>
<div class="input">
  <%= f.label 'End Date' %>
  <%= f.text_field :End_Date__c, :class => "datepicker" %>
</div>

