

<div class="field">
  <%= f.label :Survey__c %><br />
  <%= f.text_field :Survey__c %>
</div>	
<div class="field">
  <%= f.label :Surveyee__c %><br />
  <%= f.text_field :Surveyee__c %>
</div>
<div class="field">
  <%= f.label :User__c %><br />
  <%= f.text_field :User__c %>
</div>	
<div class="field">
  <%= f.label :OwnerId %><br />
  <%= f.text_field :OwnerId %>
</div>
<div class="field">
	<%= f.label :Status__c %><br/>
	<%= f.select :Status__c, [['Completed','Completed'],['In Progress','In Progress'],['New','New'], ['Cancelled','Cancelled']] %>
</div>


