<%= javascript_include_tag 'jquery.tablesorter.min.js' %>

<h1>New Surveys</h1>

<ul class="nav nav-pills">
	<li class="active" ><%= link_to "New", all_invite_index_path %></li>
	<li><%= link_to "In Progress", all_inprogress_invite_index_path %></li>
	<li><%= link_to "Complete", all_complete_invite_index_path %></li>
</ul>

<br/>
<br/>
<table class="tablesorter inviteall_tb" >
	<thead>
		<tr>
			<th></th>
			<th style="width:8%;">Action</th>
			<th style="width:8%;">ID</th>
			<th>Title</th>
			<th>Survey Taker</th>
			<th>Subject/Concept</th>
			<th style="width:9%;">Start Date</th>
			<th style="width:9%;">End Date</th>

		</tr>
	</thead>
	<tbody>
	<% for invite in @invites do %>
			<tr>
				<td> <%= link_to 'Edit', edit_invite_path(invite.Id) %> </td>
				<td>
					<%= link_to('Start', survey_show_path(invite.Id)+'?page=1', :class => 'btn success small btnfixedsize') %>
				</td>
				<td> <%= invite.Name %> </td>
				<td> <%= invite.Survey_Name__c %> </td>
				<td> <%= invite.User__r.Name unless invite.User__c.nil? %> </td>
				<td> <%= invite.Invitation_Subject__c unless invite.Invitation_Subject__c.nil? %> </td>
				<td> <%= invite.Start_Date__c.strftime('%m/%d/%Y') unless invite.Start_Date__c.nil? %> </td>
				<td> <%= invite.End_Date__c.strftime('%m/%d/%Y') unless invite.End_Date__c.nil?%> </td>
			</tr>
	<% end %>
	</tbody>
</table>

<%= render 'nav_progress' %>

<%= paginate @invites %>

