<%= javascript_include_tag 'jquery.tablesorter.min.js' %>

<h1>Complete Surveys</h1>

<ul class="nav nav-pills">
	<li><%= link_to "New", invite_all_path %></li>
	<li><%= link_to "In Progress", invite_all_inprogress_path %></li>
	<li class="active" ><%= link_to "Complete", invite_all_complete_path %></li>
</ul>

<!-- h2 class="h2_subtitle" >New</h2 -->
<br/>
<br/>
<table class="tablesorter inviteall_tb" >
	<thead>
		<tr>
			<th></th>
			<th>Action</th>
			<th>Title</th>
			<th>Survey Taker</th>
			<th>Subject/Concept</th>
			<th>Start Date</th>
			<th>End Date</th>
		</tr>
	</thead>
	<tbody>
	<% for invite in @invites_complete do %>
			<tr>
				<td> <a href="/invite/<%= invite.Id%>/edit" >Edit</a> </td>
				<td>
					<% if invite.Status__c == 'Completed'
						if invite.Progress_Save__c != nil %>
							<a href="/surveys/<%= invite.Id%>/show?page=1" class="btn danger small btnfixedsize" > Modify </a>
						<% end
					end %>
				</td>
				<td> <%= invite.Survey_Name__c %> </td>
				<td> <%= invite.User__r.Name unless invite.User__r.Name.nil? %> </td>
				<td> <%= invite.Invitation_Subject__c unless invite.Invitation_Subject__c.nil? %> </td>
				<td> <%= invite.Start_Date__c.strftime('%m/%d/%Y') unless invite.Start_Date__c.nil? %> </td>
				<td> <%= invite.End_Date__c.strftime('%m/%d/%Y') unless invite.End_Date__c.nil?%> </td>
			</tr>
	<% end %>
	</tbody>
</table>