
<h1>Assign</h1>

<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_for(@invite, :url => {:controller => "invite",:action => "create"}, :class => "newinvite") do |f| %>

    <%= render 'fields', :f => f %>
    <div class="actions">
        <%= f.submit "Save", :class => 'btn primary customform', :id => 'commitinvite', :style =>"display:none;" %>
        <a class="btn primary customform" id="invite_save_btn" >Save</a>
        <%= link_to 'Cancel',invite_index_path, :class => 'btn secondary' %>
        
    </div>
<% end %>

<script type="text/javascript">
    j$(document).ready(function() {
        //this fixes all iPad onclick issues
        var ua = navigator.userAgent,
        event = (ua.match(/iPad/i)) ? "touchstart" : "click";

        j$("#invite_save_btn").bind(event, function(e) {
            validateinvite();
        });
    });
</script>