
<div id="my-modal-loading" class="modal hide fade" style="display: none; height:80px !important; width:90px !important; left:67% !important; top:80% !important;" data-keyboard="true" data-backdrop="true" data-controls-modal="modal-from-dom">
		
    <div class="modal-body file-mbody">
		<!-- img src="/images/loading.gif" class="loading_gif" / -->
		<%= image_tag('loading.gif', :class => 'loading_gif') %>
		<p class="loading_txt" >Saving ...</p>
	</div>

</div>

<h1>Assign</h1>

<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_for(@invite, :url => {:controller => "invite",:action => "create"}, :class => "newinvite") do |f| %>

    <!-- % if @invite.errors.any? %>
	<div id="error_explanation">
	<h4>< %= pluralize(@invite.errors.count, "error") %> occurred while trying to save</h4>
	  <ul>
	  < % @invite.errors.each do |attr, msg| %>
	    <li>< %= msg %></li>
	  < % end %>
	  </ul>
	</div>
	< % end % -->

    <%= render 'fields', :f => f %>
    <div class="actions">
        <%= f.submit "Save", :class => 'btn primary customform', :id => 'commitinvite', :style =>"display:none;" %>
        <a onclick="validateinvite();" class="btn primary customform" >Save</a>
        <a href="<%= invite_index_path %>" class="btn secondary " >Cancel</a>
        
    </div>
<% end %>