
<%= widget_div do %>

	<%= form_for(@lines, :url => {:controller => "surveys",:action => "update_multiple"}) do %>

		<input type="hidden" name="id" value="<%= params[:id] %>" />
		<input type="hidden" name="sid" value="<%= params[:sid] %>" />
		<input type="hidden" name="page" value="<%= params[:page] %>" />

		<% @lines.each_with_index do |line, i| %>

			<h2 >Questions - Section <%= line.Sort_Order__c %> </h2>
			<h3 class="line_head_h3" ><%= line.Description__c%></h3>
			<div class="line-wrap" >

				<%= render_widget "line_'#{i}'" %>
			</div>
			
		<% end %>
		<%= paginate @lines %>
	
	<% end %>
		
<% end %>
