<h1> <%= @survey[0].Survey_Name__c %> </h1>


<a href="#" id="description-toggle"> Click for survey description:</a>
<div id="desc_content" style="display:none;" >
	<%= @survey[0].Survey__r.Description__c %>
</div>

<%= widget_div do %>
	<script type="text/javascript">
		var j$ = jQuery.noConflict();

		j$(document).ready(function() {
			j$("#pb").progressbar({ value: <%= @progressbar.to_i %> });
		});
	</script>
	<div id="pb-container" >
		<div id="pb"></div>
		<div class="text" ><%= @progressbar.to_i %> %</div>
	</div>

	<div id="autosaved" > </div>
	
	<%= form_for(@lines, :url => {:controller => "surveys",:action => "update_multiple"}) do %>

		<input type="hidden" name="id" value="<%= params[:id] %>" />
		<input type="hidden" name="sid" value="<%= @survey[0].Survey__c %>" />
		<input type="hidden" name="page" value="<%= params[:page] %>" />

		<% @lines.each_with_index do |line, i| %>

			<h2 ><%= line.Name %> </h2>
			<h3 class="line_head_h3" ><%= line.Description__c%></h3>
			<div class="line-wrap" >

				<%= render_widget "line_'#{i}'" %>
			</div>
			
		<% end %>
		<%= paginate @lines %>
	
	<% end %>
		
<% end %>
