<h1> <%= @survey[0].Survey_Name__c %> </h1>


<a data-placement="right" trigger="manual" class="label notice" data-content="<%= @survey[0].Survey__r.Description__c %>" rel="popover" href="#" data-original-title="">Description :</a>

<%= widget_div do %>
	<script type="text/javascript">
		var j$ = jQuery.noConflict();

		j$(document).ready(function() {
			j$("#pb").progressbar({ value: <%= @progressbar.to_i %> });
		});
		
	</script>
	<div id="pb-container" >
		<div id="pb"></div>
		<div class="text" ><%= @progressbar.to_i %> %</div>
	</div>

	<div id="my-modal-loading" class="savingmodal hide fade" style="display: none;" data-keyboard="true" data-backdrop="true" data-controls-modal="modal-from-dom">
		
        <div class="modal-body ">
			<!-- img src="/images/loading.gif" class="loading_gif" / -->
			<%= image_tag('loading.gif', :class => 'loading_gif') %>
			<p class="loading_txt" >Saving ...</p>
		</div>

	</div>

	<!-- a class="btn" data-controls-modal="my-modal-loading" data-backdrop="static" >Load</a -->

	<div id="autosaved" > </div>
	
	<%= form_for(@lines, :url => {:controller => "surveys",:action => "update_multiple"}) do %>

		<input type="hidden" name="survey_id" value="<%= params[:survey_id] %>" />
		<input type="hidden" name="sid" value="<%= @survey[0].Survey__c %>" />
		<input type="hidden" name="page" value="<%= params[:page] %>" />

		<% @lines.each_with_index do |line, i| %>

			<h2 ><%= line.Name %> </h2>
			<h3 class="line_head_h3" ><%= line.Description__c%></h3>
			<div class="line-wrap" >

				<%= render_widget "line_'#{i}'" %>
			</div>
			
		<% end %>
		<%= paginate @lines %>
	
	<% end %>
		
<% end %>
