<%= widget_div :class => :question_wrap do  %>

	<% if @line_item.Line_Item_Type__c == 'Question' %>

		<label class="q_text" > <%= @line_item.Question_Description__c %> : </label>
		<input type="hidden" name="<%= @line_item.Id%>" value="<%= @line_item.Question_Description__c %>"/>

		<!-- Text Question -->
		<% if @line_item.Question_Type__c == 'Text' %>
			<input type="text" name="q#_<%= @line_item.Id%>_text_<%= @respId %>" value="<%= @respVal %>" />

		<!-- SelectOneQuestion Question -->
		<% elsif @line_item.Question_Type__c == 'SelectOneQuestion' %>
				
			<% if @line_item.Display_Format__c == 'List' %>

				<ul class="a_list">
				<% @answerlabels.each do |al| %>
					<li> 
						<% if @respVal == al.Name %>
							<input type="radio" name="q#_<%= @line_item.Id%>_radio_<%= @respId %>" value="<%= al.Name%>" checked />
						<% else %>
							<input type="radio" name="q#_<%= @line_item.Id%>_radio_<%= @respId %>" value="<%= al.Name%>" />
						<% end %>
						<input type="hidden" name="<%= al.Name%>" value="<%= al.Answer_Text__c %>"/>
						<span> <%= al.Answer_Text__c %> </span>
					</li>
				<% end %>
				</ul>

			<% elsif @line_item.Display_Format__c == 'Drop Down' %>
				<select class="sel_element" name="q#_<%= @line_item.Id%>_onedd_<%= @respId %>" size="1" >
					<option value="" ></option>
					<% @answerlabels.each do |al| %>
						<% if @respVal == al.Name %>
							<option value="<%= al.Name%>" selected="selected" ><%= al.Answer_Text__c %></option>
						<% else %> 
							<option value="<%= al.Name%>" ><%= al.Answer_Text__c %></option>
						<% end %> 
					<% end %>

				</select>
					<% @answerlabels.each do |al| %>
						<input type="hidden" name="<%= al.Name%>" value="<%= al.Answer_Text__c %>"/>
					<% end %>
				

			<% end %> 

		<!-- SelectMultipleQuestions Question -->
		<% elsif @line_item.Question_Type__c == 'SelectMultipleQuestions' %>
			
			<ul class="a_list">
			<% @answerlabels.each do |al| %>
				<li> 
					<% if @resphash.has_key?(al.Name) %>
						<input type="checkbox" name="q#_<%= @line_item.Id%>_multi_<%= @respId %>[]" value="<%= al.Name%>" checked id="<%= al.Answer_Text__c %>" />
					<% else %>
						<input type="checkbox" name="q#_<%= @line_item.Id%>_multi_<%= @respId %>[]" value="<%= al.Name%>" id="<%= al.Answer_Text__c %>" />
					<% end %> 
					<input type="hidden" name="<%= al.Name%>" value="<%= al.Answer_Text__c %>"/>
					<span> <%= al.Answer_Text__c %> </span>
				</li>
			<% end %>
			</ul>
				<input type="hidden" value="<%= @respLabels %>" name="label_<%= @line_item.Id%>" id="label_<%= @line_item.Id%>" />
		<% end %>

	<% end %>

<% end %>

