<%= widget_div :class => :question_wrap do  %>

	
	<!-- ul>
		<li> Id: <%= @line_item.Id %> </li>
		<li> Name : <%= @line_item.Name %> </li>
		<li> Sort Order : <%= @line_item.Sort_Order__c %> </li>
		<li> Question Description : <%= @line_item.Question_Description__c %> </li>
		<li> Question Type : <%= @line_item.Question_Type__c %> </li>
		<li> Display Format : <%= @line_item.Display_Format__c %> </li>
		<li> Line Item Type : <%= @line_item.Line_Item_Type__c %> </li>
		<li> Answer Sequence : <%= @line_item.Answer_Sequence__c%> </li>
	</ul -->
	
	<% if @line_item.Line_Item_Type__c == 'Question' %>

		<% if @line_item.Question_Type__c == 'Text' %>
			<label class="q_text" > <%= @line_item.Question_Description__c %> : </label>
			<input type="text" name="q#_<%= @line_item.Id%>_text" />

		<% elsif @line_item.Question_Type__c == 'SelectOneQuestion' %>
			<label class="q_text" > <%= @line_item.Question_Description__c %> : </label>
			<ul class="a_list">
			<% @answerlabels.each do |al| %>
				<li> 
					<input type="radio" name="q#_<%= @line_item.Id%>" value="<%= al.Name%>" />
					<span> <%= al.Answer_Text__c %> </span>
				</li>
			<% end %>
			</ul>
		<% elsif @line_item.Question_Type__c == 'SelectMultipleQuestions' %>
			<label class="q_text" > <%= @line_item.Question_Description__c %> : </label>
			<ul class="a_list">
			<% @answerlabels.each do |al| %>
				<li> 
					<input type="checkbox" name="q#_<%= @line_item.Id%>_<%= al.Name%>" />
					<span> <%= al.Answer_Text__c %> </span>
				</li>
			<% end %>
			</ul>
		<% end %>

	<% end %>

<% end %>

