<%= widget_div :class => :question_wrap do  %>

	<% if @line_item.Line_Item_Type__c == 'Question' %>

		<label class="q_text" > <%= @line_item.Question_Description__c %> : </label>
		<input type="hidden" name="<%= @line_item.Id%>" value="<%= @line_item.Question_Description__c %>" />

		<% if @line_item.Help_Text__c != nil %>
			<p style="width:100%; font-size:95%;" >
				<!-- a href="#" class="description-toggle label notice">Info</a>
				<span class="desc_content" style="display:none;" >< %= @line_item.Help_Text__c %></span -->
				<a data-placement="right" class="label notice" data-content="<%= @line_item.Help_Text__c %>" rel="popover" href="#" data-original-title="" >Info</a>
			</p>
		<% end %>
		<p style="display:none; color:red;" class="error"></p>
		<!-- Text Question -->
		<% if @line_item.Question_Type__c == 'Text' %>

			<%if @line_item.Enable_Autocomplete__c == true %>
				<input type="text" name="qq_<%= @line_item.Id%>_text_<%= @respId %>" id="qq_<%= @line_item.Id%>_text_<%= @respId %>" class="edit_form_field autocomplete_comp" value="<%= @respVal %>" autocomplete="off" />
			<% else %>
				<input type="text" name="qq_<%= @line_item.Id%>_text_<%= @respId %>" id="qq_<%= @line_item.Id%>_text_<%= @respId %>" class="edit_form_field" value="<%= @respVal %>" autocomplete="off" />
			<% end %>

		<!-- SelectOneQuestion Question -->
		<% elsif @line_item.Question_Type__c == 'SelectOneQuestion' %>
				
			<% if @line_item.Display_Format__c == 'List' %>

				<ul class="a_list">
					<input type="hidden" name="qq_<%= @line_item.Id%>_radio_<%= @respId %>" class="<%= @line_item.Id%>" value="<%=@respVal%>" />
				<% @answerlabels.each do |al| %>
					<li> 
						<% if @respVal == al.Resource_Name__c %>
							<input type="radio" name="qq_<%= @line_item.Id%>_radio_<%= @respId %>" id="qq_<%= @line_item.Id%>_radio_<%= @respId %>" class="edit_form_field" value="<%= al.Resource_Name__c%>" checked onclick="ff('<%= @line_item.Id%>', this.value, this.id,'radio');"/>
						<% else %>
							<input type="radio" name="qq_<%= @line_item.Id%>_radio_<%= @respId %>" id="qq_<%= @line_item.Id%>_radio_<%= @respId %>" class="edit_form_field" value="<%= al.Resource_Name__c%>" onclick="ff('<%= @line_item.Id%>', this.value, this.id, 'radio');" />
						<% end %>

						<input type="hidden" name="<%= al.Resource_Name__c%>" value="<%= al.Answer_Text__c %>"/>
						
						<span> <%= al.Answer_Text__c %> </span>
					</li>
				<% end %>
				</ul>

			<% elsif @line_item.Display_Format__c == 'Drop Down' %>
				<select class="sel_element edit_form_field" name="qq_<%= @line_item.Id%>_onedd_<%= @respId %>" id="qq_<%= @line_item.Id%>_onedd_<%= @respId %>" size="1" >
					<option value="" ></option>
					<% @answerlabels.each do |al| %>
						<% if @respVal == al.Resource_Name__c %>
							<option value="<%= al.Resource_Name__c%>" selected="selected" ><%= al.Answer_Text__c %></option>
						<% else %> 
							<option value="<%= al.Resource_Name__c%>" ><%= al.Answer_Text__c %></option>
						<% end %> 
					<% end %>

				</select>
					<% @answerlabels.each do |al| %>
						<input type="hidden" name="<%= al.Resource_Name__c%>" value="<%= al.Answer_Text__c %>"/>
					<% end %>
				

			<% end %> 

		<!-- SelectMultipleQuestions Question -->
		<% elsif @line_item.Question_Type__c == 'SelectMultipleQuestions' %>
			
			<ul class="a_list">
				<input type="hidden" name="qq_<%= @line_item.Id%>_multi_<%= @respId %>[]" id="qq_<%= @line_item.Id%>_multi_<%= @respId %>" class="<%= @line_item.Id%>" value="<%=@respVal%>" />
			<% @answerlabels.each do |al| %>
				<li> 
					<% if @resphash.has_key?(al.Resource_Name__c) %>
						<input type="checkbox" name="qq_<%= @line_item.Id%>_multi_<%= @respId %>[]" id="qq_<%= @line_item.Id%>_multi_<%= @respId %>[]" class="edit_form_field <%= @line_item.Id%>" value="<%= al.Resource_Name__c%>" checked id="<%= al.Answer_Text__c %>" onclick="ff('<%= @line_item.Id%>', this.value, this.id, 'checkbox');"/>
					<% else %>
						<input type="checkbox" name="qq_<%= @line_item.Id%>_multi_<%= @respId %>[]" id="qq_<%= @line_item.Id%>_multi_<%= @respId %>[]" class="edit_form_field <%= @line_item.Id%>" value="<%= al.Resource_Name__c%>" id="<%= al.Answer_Text__c %>" onclick="ff('<%= @line_item.Id%>', this.value, this.id, 'checkbox');"/>
					<% end %> 
					<input type="hidden" name="<%= al.Resource_Name__c%>" value="<%= al.Answer_Text__c %>"/>
					<span> <%= al.Answer_Text__c %> </span>
				</li>
			<% end %>
			</ul>
				<input type="hidden" value="<%= @respLabels %>" name="label_<%= @line_item.Id%>" id="label_<%= @line_item.Id%>" />

		<!-- Date or DateTime Question -->
		<% elsif @line_item.Question_Type__c == 'Date' || @line_item.Question_Type__c == 'Datetime'%>
			<input type="text" name="qq_<%= @line_item.Id%>_<%= @line_item.Question_Type__c.downcase %>_<%= @respId %>" id="qq_<%= @line_item.Id%>_<%= @line_item.Question_Type__c.downcase %>_<%= @respId %>" class="edit_form_field datepicker" value="<%= @respVal %>" autocomplete="off" />

		<!-- Integer Question -->
		<% elsif @line_item.Question_Type__c == 'Integer' %>
			<input type="text" name="qq_<%= @line_item.Id%>_<%= @line_item.Question_Type__c.downcase %>_<%= @respId %>" id="qq_<%= @line_item.Id%>_<%= @line_item.Question_Type__c.downcase %>_<%= @respId %>" class="edit_form_field" value="<%= @respVal %>" autocomplete="off" />

		<!-- Calculation Question -->
		<% elsif @line_item.Question_Type__c == 'Calculation' %>
			<input type="text" name="qq_<%= @line_item.Id %>_<%= @line_item.Question_Type__c.downcase %>_<%= @respId %>" id="qq_<%= @line_item.Id %>_<%= @line_item.Question_Type__c.downcase %>_<%= @respId %>" class="edit_form_field calculation" data-calc-logic="<%= @line_item.Calculation_Logic__c %>" value="<%= @respVal %>" autocomplete="off" />


		<% end %>

	<% elsif @line_item.Line_Item_Type__c == 'Content' %>

		<% if @line_item.Content_Type__c == 'Image' %>
			<div id="my-modal-image-<%= @line_item.Id%>" class="modal hide fade" style="display: none;">
				<div class="modal-header">
		          <a href="#" class="close">×</a>
		          <h3>Image</h3>
		        </div>

		        <div class="modal-body">
					<img src ="<%= @line_item.URL__c%>" style="margin: auto; display:block; max-width:520px; max-height:600px;" />
				</div>

				<div class="modal-footer">
				</div>
			</div>
			<a class="img_thumb_modal" data-controls-modal="my-modal-image-<%= @line_item.Id%>" data-backdrop="static" >
			<img src ="<%= @line_item.URL__c%>" height="90px" />
			Click to enlarge</a>

		<% elsif @line_item.Content_Type__c == 'Text' %>
			<h4 style="color:#666666;"> <%= @line_item.Content_Description__c %> </h4>

		<% elsif @line_item.Content_Type__c == 'File' %>
			<div id="my-modal-file-<%= @line_item.Id%>" class="modal hide fade" style="display: none;">
				<div class="modal-header">
		          <a href="#" class="close">×</a>
		          <h3>File</h3>
		        </div>

		        <div class="modal-body file-mbody">
					<iframe src="<%= @line_item.URL__c %>" frameborder="0" height="100%" width="100%" ></iframe>
				</div>

				<div class="modal-footer">
				</div>
			</div>
			<a class="btn" data-controls-modal="my-modal-file-<%= @line_item.Id%>" data-backdrop="static" >Launch File</a>

		<% end %>

	<% end %>

<% end %>

