
<h1><%= @s[0].Name %> <%= @s[0].Survey_Name__c %> </h1>
	
	<div id="progressbar" >
	   <div id="progress" >
	   		<span class="text" >100 %</span>
	   </div>
	</div>

<div id="survey_review">

	<% @List_Array.each do |la| %>

		<% if @h_line_resp.has_key?(la) %>
		<h2><%= @h_line_resp[la][0].Line_Item__r.Line__r.Name %></h2>
		
		<div class="line-wrap" >
			
			
			<% @h_line_resp[la].each do |r| %>
				<div class="question_wrap" >
					
					<% if not (r.Response_Type__c == 'Grid' || r.Response_Type__c == 'GridSubQuestion') %>

						<% if (r.Response_Type__c == 'Text' ||  r.Response_Type__c == 'Date' || r.Response_Type__c == 'Datetime' || r.Response_Type__c == 'Integer' || r.Response_Type__c == 'Calculation') && !r.Text_Long_Response__c.blank? %>

							<label class="q_text">
								<%= link_to( 'Edit', survey_show_path(params[:id]||params[:survey_id])+'?page='+r.Line_Sort_Order__c.to_i.to_s, :class => 'ah' ) %>
								<%= h r.Original_Question_Text__c %>
							</label>
							
						<% elsif not r.Label_Long_Response__c.blank? %>
							<label class="q_text">
								<%= link_to( 'Edit', survey_show_path(params[:id]||params[:survey_id])+'?page='+r.Line_Sort_Order__c.to_i.to_s, :class => 'ah' ) %>
								<%= h r.Original_Question_Text__c %>
							</label>
							
						<% end %>
					<% end %>

					<% if r.Response_Type__c == 'Text' ||  r.Response_Type__c == 'Date' || r.Response_Type__c == 'Datetime' || r.Response_Type__c == 'Integer' || r.Response_Type__c == 'Calculation'%>
						<% if not r.Text_Long_Response__c.blank? %>
						<span class="a_text"><%= h r.Text_Long_Response__c %> </span>
						<% end %>

					<% elsif r.Response_Type__c == 'SelectMultipleQuestions' %>
							<ul>
							<% if not r.Label_Long_Response__c.blank?
								r.Label_Long_Response__c.split(';').each do |rr| %>
								<li> <input type="checkbox" checked disabled /> <%= h rr %> </li>
							<% end 
							end %>
							</ul>
					<% elsif r.Response_Type__c == 'GridSubQuestion' %>

							<table class="grid_table" >
							<tr>
								<td class="grid_tb_q_td"> 
									<label class="q_text" >
										<%= link_to( 'Edit', survey_show_path(params[:id]||params[:survey_id])+'?page='+r.Line_Sort_Order__c.to_i.to_s, :class => 'ah' ) %>
										<%= r.Line_Item__r.Parent_Line_Item__r.Question_Description__c%>
									</label> 
								</td>

								<% @h_answers[@h_gridHeader[r.Line_Item__r.Parent_Line_Item__c] ].each do |aa| %>
									<td class="grid_tb_ans_td grid_cnt"> <h4><%= aa.Answer_Text__c %></h4> </td>
								<% end %>
							</tr>

							<% @h_grid[r.Line_Item__r.Parent_Line_Item__c].each do |g| %>
								<tr>
									<td>
										<label class="q_text" > <%= g.Original_Question_Text__c %> </label>
									</td>
									<% @h_answers[@h_gridHeader[r.Line_Item__r.Parent_Line_Item__c] ].each do |bb| 
										if bb.Resource_Name__c == @h_gridResp[g.Id].Text_Long_Response__c %>
											<td class="grid_cnt" ><input type="radio" checked disabled />  </td>
										<% else %>
											<td class="grid_cnt" ><input type="radio" disabled />  </td>
										<% end %>
									<% end %>
								</tr>
							<% end %>
							
							</table>


					<% else %>
						<% if not r.Label_Long_Response__c.blank? %>
							<span> <input type="radio" checked disabled /> 
								<%= h r.Label_Long_Response__c %> 
							</span>
						<% end %>
						
					<% end %>
				</div> <!-- question_wrap -->

			<% end %>
		</div> <!-- line-wrap -->
	<% end %>
	<% end %>

	<div class="submit_block" >
		
		<% if @responses[0].nil? %>
			<%= link_to( 'Back', survey_show_path(params[:id]||params[:survey_id]), :class => 'btn secondary' ) %>
		<% else %>
			<%= link_to( 'Back', survey_show_path(params[:id]||params[:survey_id])+'?page='+@responses[0].Invitation__r.Progress_Save__c.to_i.to_s, :class => 'btn secondary' ) %>
		<% end %>

		<a href="<%= survey_submitsurvey_path(params[:id]||params[:survey_id]) %>" class="btn primary medium" > Submit ›</a>
	</div>

</div>