<h1> Review Survey </h1>
	
	<div id="progressbar" >
	   <div id="progress" >
	   		<span class="text" >100 %</span>
	   </div>
	</div>

<div id="survey_review">

	<% @responses.each do |r| %>
		<div class="rev_q_wrap" >
			
			<h4><%= r.Original_Question_Text__c %></h4>

			<% if r.Response_Type__c == 'Text' ||  r.Response_Type__c == 'Date' || r.Response_Type__c == 'Datetime'%>
				<span class="a_text"><%= r.Text_Long_Response__c %> </span>

			<% elsif r.Response_Type__c == 'SelectMultipleQuestions' %>
					<ul>
					<% r.Label_Long_Response__c.split(';').each do |rr| %>
						<li> <input type="checkbox" checked disabled /> <%= rr %> </li>
					<% end %>
					</ul>
			<% else %>
				<span> <input type="radio" checked disabled /> <%= r.Label_Long_Response__c %> </span>
			<% end %>


		</div>
	<% end %>

	<div class="submit_block" >
		<a href="submitsurvey" class="btn primary medium" > Submit ›</a>
        <a href="/surveys/<%= params[:id] %>/show?page=<%= @responses[0].Invitation__r.Progress_Save__c.to_i %>" class="btn secondary " >Cancel</a>
	</div>

</div>