<div class="topbar">

	<div class="fill">

	    <div class="container headerapp">

	      <h3><%= link_to image_tag('ucsf-logo.png', :height => '30px'), root_path %></h3>

		    <% if signed_in? %>
			    <ul class="nav secondary-nav" style="margin-right: 25px;">
			    	<li><span style="line-height:40px" ><%= session[:name] %></span></li>
			    	<li class="dropdown" data-dropdown="dropdown" > 
			    		<a href="#" class="dropdown-toggle">Surveys</a>
				    	<ul class="dropdown-menu">
				    		<li><%= link_to "My Surveys", invite_path %></li>
				    		<li><%= link_to "Create Surveys", invite_new_path %></li>
				    	</ul>
				    </li>
				        
			    	<li>
			    		<%= link_to "Sign Out", signout_path %>
			    	</li>
			    	<li> <img src="<%= session[:image] %>" width="30px" height="30px" style="margin-top:5px;" /> </li>
			    </ul>
			<% else %>
			    <ul class="nav secondary-nav" style="margin-right: 25px;">
			    	<li>
			    		<!-- a data-controls-modal="settings-modal" data-backdrop="static" onclick="return true;">Sign In</a -->
			    		<%= link_to "Sign In", signin_path %>
			    	</li>
			    </ul>
			<% end %>

	    </div>

		<div id="settings-modal" class="modal hide fade" style="display: none;">

	        <div class="modal-header">
	          <a href="#" class="close">×</a>
	          <h3>Authentication Settings</h3>
	        </div>

	        <div class="modal-body">
		        <form action='/signin' id='authenticate_form' method='post' name='authenticate_form'>
		            <div data-role='fieldcontain' style="align:center;">
		                <h4>Environment</h4>
		                <input id='options[provider]-1' name='options[provider]' type='radio' value='salesforce' >
		                production (login.salesforce.com) <br/>
		                </input>
		                <input id='options[provider]-2' name='options[provider]' type='radio' value='salesforcesandbox'>
		                sandbox (test.salesforce.com)<br/>
		                </input>
		                <!-- input id='options[provider]-3' name='options[provider]' type='radio' value='salesforceprerelease'>
		                pre-release (prerellogin.pre.salesforce.com)<br/>
		                </input>
		                <input id='options[provider]-4' name='options[provider]' type='radio' value='databasedotcom'>
		                database.com (login.database.com)<br/>
		                </input -->
		                <input checked='checked' id='options[provider]-5' name='options[provider]' type='radio' value='customurl'>
		                custom domain
		                </input>
		                <input  id='options[curl]-1' name='options[curl]' type='text' placeholder="https://custom-domain.my.salesforce.com" value="<%= ENV['DEFAULT_CUSTOM_URL'] %>"/>
		                
		            </div>
		            <div data-role='fieldcontain'>
		                <h4>Display</h4>
		                <input id='options[display]-1' name='options[display]' type='radio' value='page'>
		                page<br/>
		                </input>
		                <input id='options[display]-2' name='options[display]' type='radio' value='popup'>
		                popup<br/>
		                </input>
		                <input checked='checked' id='options[display]-3' name='options[display]' type='radio' value='touch'>
		                touch<br/>
		                </input>
		            </div>
		              	<h4>Access Level</h4>
		              	<input checked='checked' class='custom' id='options[scope|api]' name='options[scope|api]' type='checkbox'>
		              	api
		              	</input>
		              	<input class='custom' id='options[scope|chatter_api]' name='options[scope|chatter_api]' type='checkbox'>
		              	chatter_api
		              	</input>
		              	<input class='custom' id='options[scope|full]' name='options[scope|full]' type='checkbox'>
		              	full
		              	</input>
		              	<input checked='checked' class='custom' id='options[scope|id]' name='options[scope|id]' type='checkbox'>
		              	id
		              	</input>
		              	<input checked='checked' class='custom' id='options[scope|refresh_token]' name='options[scope|refresh_token]' type='checkbox'>
		              	refresh_token
		              	</input>
		              	<input class='custom' id='options[scope|visualforce]' name='options[scope|visualforce]' type='checkbox'>
		              	visualforce
		              	</input>
		              	<input class='custom' id='options[scope|web]' name='options[scope|web]' type='checkbox'>
		              	web
		              	</input>
		            <div data-role='fieldcontain'>
		              	<h4>Immediate</h4>
		              	<select data-role='slider' id='options[immediate]' name='options[immediate]'>
		                	<option value='false'>No</option>
		                	<option value='true'>Yes</option>
		              	</select>
		            </div>
		            <br/>
					<input class="btn primary" type="submit" value="Sign In" />
		            
		        </form>
	        </div>

	    </div>

	</div>

</div>