<!DOCTYPE html>
<html>

  <head>

    <title><%= title %></title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag 'jquery.js' %>
    <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min.js' %>
    <%= javascript_include_tag 'jquery.idletimer.js' %>
    <%= javascript_include_tag 'jquery.idletimeout.js' %>
    <%= javascript_include_tag 'application.js' %>
    <%= javascript_include_tag 'bootstrap-dropdown.js' %>
    <%= javascript_include_tag 'bootstrap-alerts.js' %>
    <!-- %= javascript_include_tag 'application.js' %>
    < %= javascript_include_tag 'bootstrap-alerts.js' %>
    < %= javascript_include_tag 'bootstrap-twipsy.js' %>
    < %= javascript_include_tag 'bootstrap-buttons.js' %>
    < %= javascript_include_tag 'bootstrap-dropdown.js' %>
    < %= javascript_include_tag 'bootstrap-modal.js' %>
    < %= javascript_include_tag 'bootstrap-popover.js' % -->
    

  </head>

  <body style="padding-top: 40px;" >

    <%= render 'layouts/header' %>

    <div id="appContainer">
      
      <div class="container">

        <div class="row">

          <div class="span16">
            <div id="idletimeout" class="alert-message">
              You will be logged off in <span><!-- countdown place holder --></span>&nbsp;seconds due to inactivity. 
              <a id="idletimeout-resume" href="#">Click here to continue using this web page</a>.
            </div>

            <% flash.each do |key, value| %>
            <div class="alert-message <%= key %>"><%= value.html_safe %></div>
            
            <% end %>

            <div class="alert-message warning fade in" data-alert="alert">
              <a class="close" href="#">×</a>
              <p><strong>Warning :</strong> This is a UCSF Medical Center computer system which may be accessed and used only by authorized personnel. All data in this system is confidential.  System actions are logged, and system use is for business purposes only   Unauthorized access and use of this system may subject violators to criminal, civil, and/or administrative actions.</p>
            </div>
                      
            <%= yield %>

            <%= render 'layouts/footer' %>

          </div>

        </div>

      </div>

    </div>
    <script type="text/javascript">

      if(<%= signed_in? %>){

        var j$ = jQuery.noConflict();
        var autosaveOn = false;
        var idleTime = new Date();
        var refreshIntervalId;
        var timeout = <%= ENV['app_timeout'] %>;
        
        if ( j$('#idletimeout')[0] || j$('#idletimeout a')[0] ) { 
        j$.idleTimeout('#idletimeout', '#idletimeout a', {
          idleAfter: timeout,
          pollingInterval: 60,
          //keepAliveURL: 'keepalive.php',
          //serverResponseEquals: 'OK',
          warningLength: 30,
          onTimeout: function(){
            j$(this).slideUp();
            window.location = "/signoutexp";
            //location.reload();
          },
          onIdle: function(){
            j$(this).slideDown(); // show the warning bar
          },
          onCountdown: function( counter ){
            j$(this).find("span").html( counter ); // update the counter
          },
          onResume: function(){
            j$(this).slideUp(); // hide the warning bar
          }
        });

      }

      }
      
    </script>
  </body>

</html>