<%= widget_div do %>

<table class="tablesorter" >
	<thead>
		<tr>
			<th></th>
			<th>Action</th>
			<th>Title</th>
			<th>Status</th>
			<th>Subject/Concept</th>
			<!-- th>Description</th -->
			<th>Start Date</th>
			<th>End Date</th>
			<th>Last Mod. Date</th>
		</tr>
	</thead>
<tbody>
	<% for invite in @invites do %>
			<tr>
				<td> <a href="/invite/<%= invite.Id%>/edit" >Edit</a> </td>
				<td>
					<% if invite.Progress_Save__c != nil %>
						<a href="/surveys/<%= invite.Id%>/show?page=<%= invite.Progress_Save__c.to_i %>" class="btn success small" > Resume </a>
					<% else %>
						<a href="/surveys/<%= invite.Id%>/show?page=1" class="btn primary small" > Start </a>
					<% end %>
				</td>
				<td> <%= invite.Survey_Name__c %> </td>
				<td> <%= invite.Status__c unless invite.Status__c.nil?%> </td>
				<td> <%= invite.Invitation_Subject__c unless invite.Invitation_Subject__c.nil? %> </td>
				<!-- td> < %= invite.Survey__r.Description__c unless invite.Survey__r.Description__c.nil? % > </td -->
				<td> <%= invite.Start_Date__c.strftime('%m/%d/%Y') unless invite.Start_Date__c.nil? %> </td>
				<td> <%= invite.End_Date__c.strftime('%m/%d/%Y') unless invite.End_Date__c.nil?%> </td>
				<td> 
					 <% if invite.Progress_Save__c != nil 
							time = Time.parse(invite.LastModifiedDate.strftime('%d/%m/%Y %I:%M%P %Z')) 
					 %> 
					 	<%= time.in_time_zone("Pacific Time (US & Canada)").strftime('%m/%d/%Y %I:%M%P %Z') %>
					 <% end %>
				</td>
			</tr>
	<% end %>
</tbody>
	
</table>

<% end %>