<%= widget_div do %>

<table class="tablesorter inviteindex_tb" >
	<thead>
		<tr>
			<th></th>
			<th>Action</th>
			<th>Title</th>
			<th>Status</th>
			<th>Subject/Concept</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Last Mod. Date</th>
		</tr>
	</thead>
<tbody>
	<% for invite in @invites do %>
			<tr>
				<td>
					<%= link_to 'Edit', edit_invite_path(invite.Id) %>
				</td>
				<td>
					<% if invite.Progress_Save__c != nil %>
						<%= link_to( 'Resume', survey_show_path(invite.Id)+'?page='+invite.Progress_Save__c.to_i.to_s, :class => 'btn orange small btnfixedsize' ) %>
					<% else %>
						<%= link_to( 'Start', survey_show_path(invite.Id)+'?page=1', :class => 'btn success small btnfixedsize' ) %>
					<% end %>
				</td>
				<td> <%= invite.Survey_Name__c %> </td>
				<td> <%= invite.Status__c unless invite.Status__c.nil?%> </td>
				<td> <%= invite.Invitation_Subject__c unless invite.Invitation_Subject__c.nil? %> </td>
				<td> <%= invite.Start_Date__c.strftime('%m/%d/%Y') unless invite.Start_Date__c.nil? %> </td>
				<td> <%= invite.End_Date__c.strftime('%m/%d/%Y') unless invite.End_Date__c.nil?%> </td>
				<td> 
					 <% if invite.Progress_Save__c != nil 
							time = Time.parse(invite.LastModifiedDate.strftime('%d/%m/%Y %I:%M%P %Z')) 
					 %> 
					 	<%= time.in_time_zone("Pacific Time (US & Canada)").strftime('%m/%d/%Y %I:%M%P %Z') %>
					 <% end %>
				</td>
			</tr>
	<% end %>
</tbody>
	
</table>


	<%
		@pg = (params[:page] == nil || params[:page] == '') ? 1 : params[:page]
		if @pg == 1
			@sf = (@invites_query.count > 0) ? @pg : 0
		else
			@sf = ( @invites.count.to_i < 2 ) ? @invites_query.count : (((@pg.to_i - 1) * @paginate) + 1)
		end
    	@ff = ( @invites.count.to_i < @paginate ) ? @invites_query.count : ( @pg.to_i * @invites.count.to_i )
	%>

<p> <%= @sf %>-<%= @ff %> of <%= @invites_query.count %> </p>

<%= paginate @invites %>

<% end %>






